
.cardContainer {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.title {
  margin: 0;
}

.imgContainer {
  width: 300px;
  min-width: 300px;
}

.img {
  width: 100%;
}

.img:hover {
  box-shadow: 0 0 15px var(--light-yellow);
}

.iconGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-flow: row;
  gap: 10px;
}
