
.sliderContainer {
  display: flex;
  align-items: center;
}

.slider {
  width: 300px;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: x mandatory;
}

.slider img {
    scroll-snap-align: start;
}

button {
  background-color: white;
  opacity: 0.1;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  color: black;
  height: 100px;
}

button:hover {
  opacity: 0.5;
}

.slide {
  width: 100%
}
