
.sliderContainer {
  display: flex;
  align-items: center;
}

.slider {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.slider img {
  scroll-snap-align: center;
  padding: 25%;
}

.btn {
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text);
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 3px;

  background-color: var(--background);
  opacity: 0.3;
}

.btn:hover {
  opacity: 0.5;
}

.slide {
  display: block;
  max-width: 100%;
  max-height:90%;
  width: auto;
  height: auto;
}
