footer {
  background-color: var(--dark-red);
  color: white;
  height: 60px;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.copyright {
  margin: 0;
}