.logoSM {
  height: 50px;
  opacity: 0.7;
}

.logoSM:hover {
  opacity: 1;
  transition: var(--quick-transition);
}

.navbarContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: var(--light-yellow);
  height: var(--navbar-offset);
  display: flex;

  transform: translateY(-70px);
  transition: transform var(--quick-transition);
  transition-timing-function: ease-in-out;
  filter: drop-shadow(0 2px 8px rgb(0, 0, 0));
}

.section {
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuSelection {
  display: flex;
}

.link {
  margin: 0 10px;
  font-weight: 500;
}

.link:hover {
  transition: var(--quick-transition);
  color: var(--light-green);
}

.show {
  transform: translateY(0px);
}
